.card{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
}

.card a{
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    
}