<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>El nombre del producto es:{{product.nombre}}</h1>
    <h2>Precio:{{product.precio}}</h2>
    <span>Stock:{{product.stock}}</span>
    <p>{{product.descripcion}}</p>
    

</body>
</html>