<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Lista de productos</h1>
 {{ backgroundColor}}
     <div class="productsContainer">
        {{#each products}}
        <div class="Card">
            <h2>{{nombre}}</h2>
            <a href="/product/detail?productId={{id}}">Ver detalle</a>
        </div>
            {{/each}}
        </div>
        <a class="btn-new-product" href="/product/new">Cargar producto</a>
        
</body>
</html>